<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>E7858133-7346-47C3-8675-7FADF294D500</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>E7858133-7346-47C3-8675-7FADF294D500</key>
			<dict>
				<key>items</key>
				<array/>
				<key>name</key>
				<string>Templates</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>HTML Chop</string>
	<key>ordering</key>
	<array>
		<string>E3A955A5-C9A5-4DC9-AAA9-C5A3A159A26C</string>
		<string>126B5163-3DE0-4AD1-9393-F75EF8C0DA85</string>
		<string>10414AE6-919D-4A65-81E8-A1B8CDF84BBF</string>
		<string>97BCD6A1-2C4C-4F31-BC22-4CAF15508B4F</string>
		<string>AC496E3A-8C00-4C5A-8891-7B8631826DED</string>
		<string>20E407AF-C8D6-4045-AD26-F108FE5D8220</string>
		<string>9C6A13DA-474F-4619-AEAE-E988584CD234</string>
		<string>E829F0CD-81FB-4307-96E9-7F46E83517AD</string>
		<string>3fd0b0ff-c649-4c19-912d-dd5fc1eb0888</string>
	</array>
	<key>uuid</key>
	<string>7AC1A5B3-415F-4A39-8C78-26D170A322BD</string>
</dict>
</plist>
