<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>"./_create_chopBasic_JQuery_html_project.sh"</string>
	<key>extension</key>
	<string>html</string>
	<key>name</key>
	<string>HTML5 Project - Basic jQuery</string>
	<key>uuid</key>
	<string>B3710E2E-6E83-4141-8911-EA658A1B3772</string>
</dict>
</plist>
