<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>"./_create_chop02_html_project.sh"</string>
	<key>extension</key>
	<string>html</string>
	<key>name</key>
	<string>HTML5 Project - Boilerplate</string>
	<key>uuid</key>
	<string>E829F0CD-81FB-4307-96E9-7F46E83517AD</string>
</dict>
</plist>
