<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>"./_create_chopSimple_html_project.sh"</string>
	<key>extension</key>
	<string>html</string>
	<key>name</key>
	<string>HTML5 Project - Simple</string>
	<key>uuid</key>
	<string>1F40F47C-248D-4CF5-95F6-F62BC92E9AC8</string>
</dict>
</plist>
