<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>"./_create_chop03_html_project.sh"</string>
	<key>extension</key>
	<string>html</string>
	<key>name</key>
	<string>Project Chop - XHTML 1.0 Strict basic</string>
	<key>uuid</key>
	<string>9C6A13DA-474F-4619-AEAE-E988584CD234</string>
</dict>
</plist>
