<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>${TM_NEW_FILE_BASENAME}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="author" content="The Chopping Block, Inc." />
	<meta name="geo.country" content="US" />
	<meta name="dc.language" content="en" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	
	<link rel="stylesheet" href="assets/css/styles.css" type="text/css" media="screen" charset="utf-8" />

    <!--[if lt IE 8]>
    <link rel="stylesheet" href="assets/css/ie_lt8_fixes.css" type="text/css" media="all" charset="utf-8" />
    <![endif]-->
	
	<link rel="stylesheet" href="assets/css/print.css" type="text/css" media="print" charset="utf-8" />
	
	<style type="text/css" media="screen">
		
		/*local styles if any (quick tests and local only overrides)*/
	
	</style>
</head>
<body>

	<div id="wrap" >
		Project: ${TM_NEW_FILE_BASENAME}
	</div>
	
</body>
</html>
