<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if test \! -e "$TM_NEW_FILE"; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   TM_USERNAME=`niutil -readprop / /users/\$USER realname` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; interface_as3.as &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>as</string>
	<key>name</key>
	<string>AS3 Interface</string>
	<key>uuid</key>
	<string>ABC449F5-9499-4F18-A2CD-3E22838DE156</string>
</dict>
</plist>
